.restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;

  &--image {
    width: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  &--bookmark {
    all: unset;
  }
}